
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="/Content/AdminLTE/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/Content/AdminLTE/css/site.css" rel="stylesheet" />
    <style>
        .label-info {
            background-color: #5bc0de !important;
        }

        .label-primary {
            background-color: #337ab7 !important;
        }

        .label-danger {
            background-color: #d9534f !important;
        }

        .label-important {
            background-color: #d9534f !important;
        }

        .label-warning {
            background-color: #f0ad4e !important;
        }

        .label-default {
            background-color: #5bc0de !important;
        }

        .label-success {
            background-color: #5cb85c !important;
        }

        .label {
            display: inline;
            padding: 0.2em 0.6em 0.3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
        }

        legend.scheduler-border {
            width: inherit !important; /* Or auto */
            padding: 0 10px !important; /* To give a bit of padding on the left and right */
            border-bottom: none !important;
        }

        fieldset {
            border: 1px solid #333 !important;
            padding: 10px !important;
            margin-bottom: 10px !important;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="control-group">
            <div class="form-group">
                <label for="name">Tên quy trình</label>
                <input class="form-control" id="name" />
            </div>
            <div class="form-group">
                <label for="description">Mô tả quy trình</label>
                <textarea class="form-control" id="description"></textarea>
            </div>
        </div>
    </div>
</div>
<div id="listStep">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Bước 1</legend>
        <div class="control-group">
            <div class="form-group">
                <label for="approveWith_1">Người phê duyệt trong bước này</label>
                <input type="text" id="approveWith_1" data-role="tagsinput" />
            </div>
            <div class="form-group">
                <label for="isAllAccept_1">Người phê duyệt trong bước này</label>
                <input type="checkbox" id="isAllAccept_1" class="checkbox" />
            </div>
            <div class="form-group">
                <label>Nếu thao tác bị từ chối sẽ quay lại bước</label>
                <select class="form-control" disabled id="rollBack_1">
                    <option value="1">Bước 1</option>
                </select>
            </div>
        </div>
    </fieldset>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" onclick="fAddStep()" class="btn btn-primary">Thêm Bước</button>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <button type="button" onclick="fCreateProcess()" class="btn btn-success">Tạo Quy Trình</button>
    </div>
</div>
@section Scripts{
    <script src="/Content/AdminLTE/js/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.3/typeahead.bundle.min.js" integrity="sha512-E4rXB8fOORHVM/jZYNCX2rIY+FOvmTsWJ7OKZOG9x/0RmMAGyyzBqZG0OGKMpTyyuXVVoJsKKWYwbm7OU2klxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.3/typeahead.jquery.min.js" integrity="sha512-FoYDcEN8AC55Q46d/gra+GO1tD9Bw7ZTLBUDqaza5YQ+g2UGysVxBoVOkXB6RVVM8wFyPJxr3vcEz9wxbFKM6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.3/bloodhound.min.js"></script>
    <script>
        var elt = $('#approveWith_1');
        fAddEventTag(elt);
        $(document).ready(function () {
            $(".tt-dropdown-menu").addClass("tt-menu");
            $(".tt-menu").addClass("tt-dropdown-menu");
        });
        var i = 1;
        function fAddStep() {
            i++;
            let option = ``;
            for (var index = 1; index < i; index++) {
                option += `<option value="${index}">Bước ${index}</option>`;
            }
            debugger;
            var element = `
<fieldset class="scheduler-border">
                            <legend class="scheduler-border">Bước ${i}</legend>
                            <div class="control-group">
                                <div class="form-group">
                                    <label for="approveWith_${i}">Người phê duyệt trong bước này</label>
                                    <input type="text" id="approveWith_${i}" data-role="tagsinput" />
                                </div>
                                  <div class="form-group">
                                    <label for="isAllAccept_${i}">Tất cả cùng đồng thuận duyệt</label>
                                    <input type="checkbox" id="isAllAccept_${i}" class="checkbox" />
                                </div>
                                <div class="form-group">
                                    <label>Nếu thao tác bị từ chối sẽ quay lại bước</label>
                                    <select class="form-control" id="rollBack_${i}">
                                        ${option}
                                    </select>
                                </div>
                            </div>
</fieldset>`;
            $("#listStep").append(element);
            //Add event lại
            fAddEventTag($("#approveWith_" + i));
        }
        function fAddEventTag(elt) {
            $(".tt-dropdown-menu").each(function () {
                if (!$(this).hasClass("tt-menu"))
                    $(this).addClass("tt-menu");
            });
            elt.tagsinput();
        }
        function fCreateProcess() {
            let name = $("#name").val();
            let description = $("#description").val();
            if (name.length == 0) {
                alert("Bạn chưa đặt tên quy trình");
                return;
            }
            if (confirm(`Xác nhận tạo quy trình với ${i} bước?`)) {
                var arr = [];

                for (var index = 1; index <= i; index++) {
                    let arrApproveList = [];
                    let t = $("#approveWith_" + index).val().split(',');
                    var item = {
                        approveWith: t,
                        isAllAccept: $("#isAllAccept_" + index).is(':checked'),
                        rollBack: parseInt($("#rollBack_" + index).val())
                    };
                    arr.push(item);
                }
                $.ajax({
                    url: "/ApproveProcess/CreateApproveProcess",
                    type: "POST",
                    timeout: 0,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: name,
                        steps: arr,
                        description: description
                    }),
                    success: function (result) {
                        if (result.Success) {
                            alert(result.Message);
                            location.href = "/ApproveProcess";
                        }
                    },
                    error: function (err) {
                        console.log("Lỗi", err);
                    }
                });
            }
        }
    </script>
}